<footer class="footer">
      <div class="container">
        <p class="text-muted">Copy Rights - All Rights Reserved.</p>
      </div>
    </footer>
				<script src="assets/js/modern-footer.min.js"></script>

