<div class="ReactJS-component container">
	{{# ReactJS }}
	<div {{#id}}id="{{id}}"{{/id}} class="container">
				{{#heading}}
				<{{heading-level}} class="fc-heading">{{{heading}}}</{{heading-level}}>
				{{/heading}}
		</div>
		{{/ ReactJS}}
</div>